//Heading titles
.heading-title {
  font-weight: bold;
  text-align: center;
  margin-bottom: 1.5rem;
  &::after {
    content: " ";
    width: 120px;
    display: block;
    margin: 0.5rem auto;
    border-bottom: 3px solid $primary;
  }
  .pre-head {
    font-size: 1rem;
    color: $primary;
    font-weight: normal;
    text-transform: uppercase;
  }
  &.text-left {
    &::after {
      margin: 0.5rem 0;
    }
  }
}

//cards


.card-img-overlay {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  .heading {
    color: $white;
  }
  .card-content {
    color: $white;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    .heading {
      font-size: 2rem;
      @include media-breakpoint-up(lg) {
        font-size: 1.6rem;
      }
    }
  }
}
.card {
  overflow: hidden;
  .heading {
    font-weight: bold;
  }
  h5 {
    color: $lightBlue;
    font-size: 1.2rem;
  }
  .card-body {
    padding: 1.2rem;
    font-size: 0.9rem;
  }
}
.card-video {
  text-align: center;
  .fas {
    color: $primary;
    border: 2px solid $white;
    border-radius: 50%;
    padding: 9px;
    transition: all linear 0.1s;

    &:hover {
      color: $white;
      transform: scale(1.2);
      transition: all linear 0.1s;
    }
  }
}


// warranty card
.warranty-call {
  min-height: 250px;
}
// button
.btn-secondary {
  color: $primary;
}
.btn {
  box-shadow: 0px 3px 9px $lightGray;
}
// product-select

.product-select {
  text-align: center;
  margin-top: 0;
  display: flex;
  align-items: center;
  span {
    display: block;
    color: $primary;
    text-transform: capitalize;
    line-height: 1.2rem;
    font-size: 0.75rem;
  }
  a {
    img {
      width: 100%;
    }
  }
}
