// media queries
@include media-breakpoint-up(sm) {
}
@include media-breakpoint-up(md) {
  .card{
    margin-bottom: 1rem;
  }
  .product-listing-hero {
    position: relative;
    .list-banner-img {
      width: 100%;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
    .card-desc {
      width: 80%;
      margin-top: -20%;
      z-index: 4;
    }
    .card-choose {
      z-index: 5;
    }
  }
  .content {
    display: flex;
    .carousel-item {
      top: -15px;
    }
  }
}
@include media-breakpoint-only(md) {
  .container {
    max-width: 98%;
  }
}
@include media-breakpoint-up(lg) {
  .navbar-main .offcanvas-collapse {
    .dropdown-menu-lg {
      background: $fadeWhite;
      display: flex;
      .list-group {
        margin: 0;
        padding: 1.5rem;
      }
    }
  }
  .product-listing-hero {
    // margin-bottom: -60px;
    z-index: 6;
    background-color: transparent;
    min-height: 330px;
    .list-banner-img {
      position: absolute;
      background-size: cover;
    }
    .card-desc {
      margin: 30px 0;
      padding-right: 20%;
      left: 60%;
    }
  }
  .explore-product {
    height: 100vh;
    min-height: 640px;
    .content-container {
      padding: 0 20px;
      &.red .content::after {
        background: $overlayPrimary;
      }
      &.dark .content::after {
        background: $overlayDark;
      }
      &.blue .content::after {
        background: $overlayLightBlue;
      }
      .content {
        width: 640px;
        padding: 20px 20px 30px;

        .explore-text {
          padding: 40px 0;
        }
      }
    }
    &:nth-of-type(odd) {
      .content-container {
        flex-direction: unset;

        .content {
          right: 20px;
          &::after {
            right: auto;
            left: 56px;
          }
        }
      }
    }
    .content-container {
      max-width: 1024px;
      left: 60%;
      width: 100%;
      padding: 0 20px;
      margin: 0 auto;
      position: absolute;
      height: 100%;
      top: 0;
      min-height: 640px;
      transform: translateX(-60%);
      &.blue .content .carousel .carousel-item {
        top: 0;
      }
      .content {
        padding: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        .carousel {
          .carousel-control {
            position: absolute;
            left: 56px;
          }
        }
      }
      .heading {
        font-size: 2rem;
      }
    }
  }
}

@include media-breakpoint-up(xl) {
  .container {
    max-width: 992px;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    padding: 22px 0.4rem;
    height: 100%;
    display: block;
    border: none;
  }
}
