// featured products
.featured-products {
  background: $white;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.2) 0%,
    rgba(0, 0, 0, 0.01) 30%,
    rgba(0, 0, 0, 0) 31%
  );
}

// Events
.events {
  .card {
    margin: 0.6rem 0;
    min-height: 300px;
  }
}
// warranty
.warranty {
  border-radius: 0.75rem;
  .card,
  .warranty-reg {
    min-height: 380px;
    border-radius: 0;
    background-color: $white;
  }
  .warranty-reg {
    padding: 1rem 2rem;
  }
  background: $fadeWhite;
}

// explore product
.explore-product {
  position: relative;
  min-height: 350px;
  overflow: hidden;
  picture {
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 2;
    }
  }
  .explore-box {
    position: relative;
    z-index: 3;
    padding-top: 160px;
    width: 100%;
    .content {
      .carousel {
        padding: 0 2rem;
        .carousel-item {
          img {

          }
        }
      }
      .explore-text {
        padding: 1.5rem 1rem;
        display: block;
        max-height: 230px;
        overflow: visible;
        .row{
          position: relative;
          top: -80px;
        }
        .heading {
          font-size: 1.4rem;
        }
        * {
          color: $white;
        }
        &.red {
          background: $primary;
        }
        &.black {
          background: $darkGray;
        }
        &.blue {
          background: $lightBlue;
        }
      }
    }
  }
}
// product listing banner
.product-listing-hero {
  .list-banner-img {
    border-bottom-left-radius: 0.8rem;
    border-bottom-right-radius: 0.8rem;
    height: 0;
    padding-top: 60%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  .card-desc {
    z-index: 5;
    margin: -30px auto;
  }
  .card-choose {
    position: relative;
    z-index: 4;
    margin-bottom: -30px;
  }
}

// Warranty Form

// about
.award-list {
  margin-top: 10px;
  h6 {
    color: $primary;
  }
  ul {
    padding: 0;
    li {
      list-style: none;
    }
  }
}
.projects {
  .country-name {
    margin-bottom: 20px;
    color: $lightBlue;
  }
  ul {
    padding: 0px;
    li {
      list-style: none;
      padding-left: 20px;
      border-left: 2px solid $primary;
    }
  }
}
