// Headings
.heading {
  font-weight: bold;
}
// OffCanvas
html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
  font-size: 96%;
}

@include media-breakpoint-down(md) {
  .navbar {
    z-index: unset;
  }
  .offcanvas-collapse {
    position: fixed;
    top: 0; /* Height of navbar */
    bottom: 0;
    left: 100%;
    width: 80%;
    padding: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: $white;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
    transition-property: left, visibility, opacity;
    z-index: 1031;
  }
  .offcanvas-collapse.open {
    left: 20%;
    box-shadow: 0 20px 20px $overlayDark;
    visibility: visible;
    opacity: 1;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
    transition-property: left, visibility, opacity;
  }
  .body-backdrop.backdrop-canvas {
    z-index: 1030;
  }
}

.rounded{
  border-radius: 2rem !important;
}

.custom-checkbox {
  label{
    color: $lightBlue;
    font-weight: bold;
  }
}


