// Copy and paste the variables that you want to modify from _variables.scss and remove the !default flad.
// The default ones will be overridden. Below we added the most wanted variables that a user needs to change.
// Uncomment the variables starting with "$" that you want to edit.


// Colors

$primary: #ED1C24;
$lightBlue: #35ABBC;
$gray: #6D6F71;
$darkGray: #333333;
$lightGray: #D1D3D4;
$fadeWhite: #f6f6f6;
$secondary: #f6f6f6;
$yellow: #F4A61C;
$black: #161616;
$overlayDark: rgba(0,0,0,0.7);
$overlayPrimary: rgba(237, 28, 36, 0.7);
$overlayLightBlue: rgba(53, 171, 188, 0.7);


// Typography

$font-family-base: 'Roboto', sans-serif;
$font-family-alt: 'exo', sans-serif;

$navbar-brand-padding-y: 0;
$navbar-brand-padding-x: .75rem;

$breadcrumb-divider: quote(">");

$breadcrumb-padding-y:              .3rem !default !default;
$breadcrumb-padding-x:              .3rem !default !default;
$breadcrumb-item-padding:           .3rem !default !default;

$breadcrumb-margin-bottom:          .5rem !default !default;
